Authlib
BeautifulSoup4
bcrypt
debugpy # Required for debugging.
email-validator # For email validation
eventlet
firebase-admin
fireo
Flask
Flask-Admin
Flask-Babel # For internationalization and localization
Flask-Cors
Flask-Limiter
Flask-Login
Flask-Mail
Flask-Principal
Flask-Security
Flask-SocketIO
Flask-WTF
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-datastore
google-cloud-firestore
google-cloud-logging
google-cloud-storage
google-resumable-media
googleapis-common-protos
gunicorn
python-dotenv
requests
Werkzeug