{% extends "base.html"%}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='img/kiara_hsf.jpg') }}" alt="Kiara Speech Audience" class="img-fluid mb-4 rounded shadow">
        </div>
        <div class="col-md-6">
            <h1 class="text-center mb-4">Global Understanding</h1>
            <p class="lead">Our vision goes beyond English.</p>
            <p>We want students to feel that the world is within their reach; that they can understand, share, and connect with people from different countries and cultures.</p>
            <p>Through every class, our students learn not only how to speak English, but how to see the world with curiosity, respect, and confidence.</p>
            <p>Because when we understand each other, the world truly has no borders.</p>
        </div>
    </div>
</div>
{% endblock %}
