{% extends "base.html"%}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <h1 class="mb-4">Our Team</h1>
            <p class="lead">At Voces Sin Fronteras, our strength comes from our people; passionate young educators who
                believe in equity, community, and the power of language to connect the world.</p>
            <p>Each of our volunteers brings unique talents, cultures, and dreams to our classrooms, creating a learning
                experience that is dynamic, inclusive, and full of heart.</p>
            <hr class="my-5">
            <h2 class="mb-5">Meet the amazing team behind VSF</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card mb-4 card-custom">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{url_for('static', filename='img/Kiara_teacher.png')}}"
                            class="img-fluid rounded-start" alt="Kiara ViDemantay Villantay">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Kiara ViDemantay Villantay</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Founder & Director</h6>
                            <p class="card-text">Hola a todos! My name is Kiara, and I am a dual citizen of Perú and the
                                United States. I founded Voces Sin Fronteras during my junior year of high school
                                because I wanted to give children in Hispanic countries the same access to English that
                                others take for granted. I have been teaching English since I was a sophomore, and I
                                love seeing our students grow in confidence each week.</p>
                            <p class="card-text">My favorite Peruvian foods are mote, picarones, and ceviche!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4 card-custom">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{url_for('static', filename='img/Natalie_teacher.png')}}"
                            class="img-fluid rounded-start" alt="Natalie Castro">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Natalie Castro</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Volunteer English Teacher</h6>
                            <p class="card-text">Hello everyone! My name is Natalie, and I'm 17 years old. My family is
                                from Mexico and El Salvador. I love folklórico dancing, journalism, drawing, reading,
                                and playing the guitar and piano. I can't wait to start this journey with our students
                                and share fun and exciting lessons that make learning English joyful and meaningful!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4 card-custom">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{url_for('static', filename='img/Italy_teacher.png')}}"
                            class="img-fluid rounded-start" alt="Italy">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Italy</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Volunteer English Teacher</h6>
                            <p class="card-text">Hi! My name is Italy, and I'm in 9th grade. I'm an upcoming nail tech
                                who loves doing acrylic nails, and most things I own are Hello Kitty-themed! In my free
                                time, I love playing Roblox. I'm excited to teach English and help students have fun
                                while learning something new each week</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4 card-custom">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{url_for('static', filename='img/Brianna_teacher.png')}}"
                            class="img-fluid rounded-start" alt="Brianna">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Brianna</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Volunteer English Teacher</h6>
                            <p class="card-text">Hi, I'm Brianna! I'm a senior and the president of Key Club at my
                                school. I love cats, and I was born on a leap year! Teaching at VSF allows me to give
                                back to my community and help students grow in their confidence with English.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4 card-custom">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{url_for('static', filename='img/Cielo_teacher.png')}}"
                            class="img-fluid rounded-start" alt="Cielo">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Cielo</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Volunteer English Teacher</h6>
                            <p class="card-text">Hi! My name is Cielo, and I love sharing culture through language. I
                                enjoy connecting with students and creating lessons that are both fun and educational.
                                Being part of VSF has taught me that even a small act of service can make a big
                                difference in someone's life.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4 card-custom">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{url_for('static', filename='img/Antholy_teacher.png')}}"
                            class="img-fluid rounded-start" alt="Anthony">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Anthony</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Volunteer English Teacher</h6>
                            <p class="card-text">Hello! My name is Anthony, and I'm passionate about Roman philosophy,
                                psychology, Greek and Roman history, and computer science engineering. My hobbies
                                include weightlifting, drawing, and programming. I also love listening to music,
                                journaling, and sleeping! My favorite food is carnitas, and my birthday is March 9th,
                                2011.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4 card-custom">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{url_for('static', filename='img/Ayme_teacher.png')}}"
                            class="img-fluid rounded-start" alt="Ayme">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Ayme</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Volunteer English Teacher</h6>
                            <p class="card-text">Hi everyone! I've played many sports — soccer, volleyball, archery,
                                cross country, and track & field. I'm a big fan of comics (especially Batman) and love
                                scary and claymation movies. I also adore the '60s–'90s era and spent a summer at an
                                all-girls STEM camp. My favorite subjects are history and English. I'm excited to help
                                students see that learning English can be fun, creative, and empowering!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4 card-custom">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{url_for('static', filename='img/Jazlin_teacher.png')}}"
                            class="img-fluid rounded-start" alt="Jazlim Ochoa (Jazzy)">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Jazlim Ochoa (Jazzy)</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Volunteer English Teacher</h6>
                            <p class="card-text">Hiiiiii! My name is Jazlim, but you can call me Jazzy. I'm in 9th grade
                                and have six siblings! I want to study architectural engineering at CalTech, and I love
                                being creative (and never bored!). I joined Voces Sin Fronteras because I want to open
                                new opportunities for kids who are willing to learn and grow.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}