{% extends "base.html"%}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="text-center mb-4">Our Classes</h1>
            <div class="text-center mb-4">
                <img src="{{ url_for('static', filename='img/virtual_class_kiara.jpg') }}" class="img-fluid rounded" alt="Map of Peru">
            </div>
            <p class="lead">Our classes are designed to be fun, practical, and culturally rich.</p>
            <p>Students from elementary, middle and high school learn to use English in real-life situations: talking about family, school, holidays, and hobbies ; while also discovering the diversity of American culture. Lessons are interactive, full of games, songs, and cultural themes like Halloween, Thanksgiving, or everyday life in the U.S.</p>
            <p>Classes are taught entirely online and completely free for students. Our teachers are passionate high school volunteers who receive guidance and training to make each lesson engaging and supportive.</p>
            <p>Our goal is to teach practical English that students can use right away; whether they're introducing themselves, describing their day, or talking about their favorite hobbies.</p>
            <p>At VSF, learning English means more than grammar and vocabulary; it means opening a window to the world.</p>
        </div>
    </div>
</div>
{% endblock %}
